@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@font-face {
  font-family: 'Submariner Regular';
  src: url('fonts/Submariner Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}



body {
  font-family: 'Submariner Regular', sans-serif;
  font-size: 1.5rem;
  color: #9f9fb0;
}

html{
  background-image: linear-gradient(to bottom right, #eef6fe, #ecedfe);
  height: 100%;
}

input[type="text"], button {
  font: inherit;
}

main {
  margin: auto;
  max-width: 30vw;
  width: 100%;
  max-height: 100vh;
}

h1 {
  margin-bottom: 0.5rem;
  color: #909ac0;
}

article {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  border-left: 8px solid #7d8fc9 ;
  background-color: white;
  margin-bottom: 0.5rem;
  height: 3vh;
}

p {
  color: #909ac0;
  padding-left: 0.3rem;
  font-size: 1rem;
  padding-bottom: 0;
  width: 25vw;
  padding-bottom: 0.5rem;
}

hr{
  padding: 0;
  margin: 0
}

.new-item-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 25vw;
  max-height: 2vh;
}

.new-item-section form {
  display: flex;
  align-items: center;
  flex: 1;
}

.todo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.todo input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

.todo label {
  font-size: 1.2rem;
}

input[type="checkbox"] {
  min-width: 20px;
  min-height: 20px;
  margin-right: 1rem;
  border-radius: 10%;
  border: 1px solid #7491d0;
  accent-color: #7491d0;
}

.checkbox label:before {
  border-radius: 10%;
}


button {
  min-width: 50px;
  min-height: 50px;
  border: 1px solid white;
  border-radius: 10%;
  cursor: pointer;
}

.plus{
  width: 4rem;
}

.trash {
  min-width: auto;
  min-height: auto;
  border: none;
  border-radius: 0;
  cursor: pointer;
  background-color: transparent;
  color: #9f9fb0;
}


form label {
  position: absolute;
  left: -10000px;
}


input[type="text"] {
  width: 24.5vw;
  padding: 0.5rem;
  border-radius: 5px;
  border: 0.5px solid white;
}

.submit {
  background-color: #798ed2;
  color: #fff;
  margin-left: 0.5rem;
}

.submit:hover {
  background-color: white;
}

.bottom-section {
  margin-top: 9vh;
  position: relative;
  width: 30vw;
}

.progress-container {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.progress-bar {
  width: 100%;
  top: 60px;
  height: 0.7rem;
  border-radius: 10px;
  background-color: white;
  background-image: white
}

.progress-bar::-webkit-progress-bar {
  background-color: white;
  border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
  background-image: linear-gradient(to right, #99b5fa, #92aafa);
  border-radius: 10px;

}

.progress-label {
  margin-right: 0.5rem
}

.content{
  margin-bottom: 1rem;
  max-height: 40vh;
  overflow-y: auto;
}

.submit:hover .svg-inline--fa {
  color: black;
}

.toggle-switch {
  margin-top: 1rem;
  display: flex; 
  align-items: center;
  font-size: 1rem;
  width: 30vw;
  justify-content: right;
}

.switchlabel {
  margin-right: 0.2rem;
  padding-top: 0.1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #92aafa;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #92aafa;
}

input:focus + .slider {
  box-shadow: 0 0 1px #92aafa;
}

input:checked + .slider:before {
  background-color: white;
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 10px;
  overflow: auto;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px
}

::-webkit-scrollbar-thumb {
  background: #92aafa;
  border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
  background: #92aafa;
  border-radius: 10px
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
}

.infos{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  padding-top: 1rem;
}

.ps {
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 15px;
  text-align: center;
}